table {
    
    width: 100%;
    }
    
    th, td {
    text-align: left;
    padding: 30px;
    column-width: 500px;
    column-gap: 40px;
    column-rule: 10px double #ff00ff;
    }
    
    tr:nth-child(even) {background-color:#808080;}